@if (Headers != null)
{
    var headers = string.Join(
                Environment.NewLine,
                from header in Headers
                from headerValue in header.Value.ToArray()
                select $"{header.Key}:{headerValue}"
            );

    <span class="wrapped">@headers</span>
}

@code {
    [Parameter]
    public IEnumerable<KeyValuePair<string, IEnumerable<string>>>? Headers { get; set; }
}
