@if (Response != null)
{
    <p>
        <span>Status: @((int)Response.StatusCode) @Response.StatusCode</span>
        <br />
        <span>Duration: @Response.Duration.ToString("F0") ms</span>
    </p>
    <p>
        <HttpHeadersView Headers="Response.Headers" />
    </p>
    <p>
        <span class="wrapped">@Response.Body</span>
    </p>
}

@code {
    [Parameter]
    public HttpResponse? Response { get; set; }
}
