@inherits NavLink

@if (IsEnabled)
{
    <a href="" @attributes="@AdditionalAttributes" disabled="@isDisabled" class="@CssClass" @onclick:preventDefault>
        @ChildContent
    </a>
}
else
{
    <span>@ChildContent</span>
}

@code {
    [CascadingParameter(Name = CascadingParameters.IsEnabled)]
    public bool IsEnabled { get; set; } = true;

    bool isDisabled => !IsEnabled;
}
