.selected {
    background-color:#d6d5d5;
}

.wrapped {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

div .scrollable {
    position: absolute;
    overflow-y: scroll;
}

html, body {
    height: 100%;
}